* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ffffff;
    overflow-x: hidden;
}
.page1{
    width: 100%;
    color: #541DB9;
    font-family: 'Inter', sans-serif;
    padding: 2% 4%;
    overflow-x: hidden;
}
.signuphtml .page1{
    padding: 2% 0%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 1% 2% 0;
    position: sticky;
    top: 10px;
    background-color: white;
}
header a img{
    width: 80%;
    color: #6F2EE8;
}
header ul{
    /* display: inline-block; */
    float: right;
}
header ul li{
    display: inline-block;
    margin: 10px 25px;
    list-style: none;
    padding: 4px 6px;
}
header ul li a{
    text-decoration: none;
    text-align: center;
    color: #6F2EE8;
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.burger{
    display: none;
}
.burger div {
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: black;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.active{
    outline: #541DB9;
    font-weight: bolder;
    position: relative;
}
header ul li a::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    margin: auto;
    display: block;
    background-color: #541DB9;
    transition: 0.5s ease-out;
    top: -12px;
}
.active::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    margin: auto;
    display: block;
    background-color: #541DB9;
    transition: 0.5s ease-out;
    top: -12px;
}
header ul li a:hover::before {
    width: 100%;
}
.landing-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1% 2% 0;
}
.landing-page .left{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10%;
}
.landing-page .right {
    flex-basis: 55%;
    /* border: 1px black solid; */
}
.landing-page .right img{
    width: 85%;

}
.landing-page .left h1{
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: bolder;
}
.landing-page .left h5{
    font-size: 23px;
    margin-bottom: 70px; 
    font-weight: 500;  
}

.hero-btn .btn1{
    padding: 12px 24px;
    background-color: #6F2EE8;
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    margin-right: 7px;
    transition: all 0.5s ease-in;
}
.hero-btn .btn2{
    padding: 12px 24px;
    background-color: #ffffff;
    color: #6F2EE8;
    border: 1px solid #6F2EE8;
    font-weight: 500;
    font-size: 19px;
    margin-right: 7px;
    box-shadow: 4px 4px 8px rgba(20, 20, 20, 0.137);
    transition: all 0.5s ease-in;
}
.hero-btn i{
    font-weight: 300;
    font-size: 16px;
    margin-right: 7px;
}
.btn1:hover{
    background-color: #361f5f;
}
.btn2:hover {
    background-color: #361f5f;
    color: white;
}





section{
    padding: 2% 5%;
}
.cardsection{
    margin: 80px 0 75px;
}
.cardsection h1{
    font-size: 59px;
    text-align: left;   
    margin-bottom: 50px;
    color: #6F2EE8;
    padding-left: 25px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    flex-basis: 23%;
    background-color: #6F2EE8;
    color: #ffffff;
    padding: 25px 40px 35px 25px;
}
.card h5{
    font-size: 19px;
    margin: 5px 0 15px 0;
    font-weight: 500;
}
.card p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
.card a{
    text-decoration: none;
    text-align: left;
    font-size: 19px;
    color: white;
    position: relative;
    transition: 0.5s ease-in-out;
}
.card a:hover i{
    position: absolute;
    font-size: 33px;
    top: -8px;
}
.card i{
    font-size: 30px;
}
.card a i{
    font-weight: 500;
    font-size: 28px;
    top: -5px;
    position: absolute;
    margin-left: 5px;
}
hr{
    background-color: rgba(185, 180, 180, 0.158);
    height: 3px;
    border: none;
    margin-top: 20px
}




.background{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
}
.signin{
    width: 500px;
    height: 90vh;
    background-color: #ffffff;
    padding: 90px 80px;
    position: relative;
}
.background i{
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
}
.signin h3{
    padding-bottom: 35px;
    font-size: 34px;
    font-weight: 500;
}
.email, .password, .name{
    display: flex;
    flex-direction: column;
}
.email label, .password label, .name label, .remember{
    font-weight: 400;
    padding: 12px 0;
    font-size: 15px;
    color: black;
}
.email input, .name input,
.password input {
    font-size: 18px;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px thin #6F2EE8;
    padding: 12px 0;
}
.remember{
    padding: 20px 0;
}
.logbtn input{
    width: 100%;
    background-color: #6F2EE8;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    outline: 0;
    border: 0;
    padding: 16px;
    margin-bottom: 35px;
    cursor: pointer;
}
.signin p, .lilac p{
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 300;
}
.signin p a, .lilac p a{
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding-top: 20px;
}
.lilac{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: black;
    /* background: url(./bg-intro-desktop\ \(1\).png) #6f2ee857; */
}
.lilac .signin {
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    padding: 90px 80px;
    box-shadow:  0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}







.whyuse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.useleft{
    flex-basis: 60%;
    padding-left: 30px;

}
.useleft img{
    width: 95%;
}
.useright{
    flex-basis: 40%;
    padding-left: 60px;
}
.useright h1{
    color: black;
    margin-bottom: 30px;
    font-size: 63px;
    font-weight: bold;
}
.useright .lorem p{
    font-size: 22px;
    line-height: 50px;
    color: #541DB9;
    font-weight: 400;
}
.useright .lorem p i{
    color: black;
    font-size: 26px;
    margin-right: 25px;
    font-weight: 400;
}
.useright .lorem{
    margin-bottom: 40px;
}
.useright h4{
    font-size: 22px;
    margin-bottom: 30px;
}
.partnerstray{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.partnerstray img{
    width: 55px;
    margin-right: 15px;
}



.blog{
    padding: 2% 7%;
}
.blog h1, .shopping h1{
    font-size: 45px;
    color: #541DB9;
    font-weight: 700;
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.cart{
    flex-basis: 32%;
    padding: 20px 20px 40px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    overflow: hidden;
    /* max-height: 75vh; */
    box-shadow:  0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.123);
    transition: all 0.5s ease-in-out;
}
.cart:hover{
    box-shadow:  0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.cart img{
    width: 100%;
}
.cart h3{
    font-size: 27px;
    font-weight: 500;
    color: #541DB9;
    padding: 20px 0;
    line-height: 30px;
}
.cart p{
    font-size: 18px;
    font-weight: 400;
    color: #0e0424a9;
    line-height: 25px;
    margin-bottom: 30px;
}
.cart a{
    padding: 10px 30px;
    text-decoration: none;
    background-color: #541db9cb;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.cart a:hover{
    background-color: #361f5f;
}





.shopping{
    padding: 5% 7%;
}
.shopping .cart{
    margin-bottom: 20px;
}
.shopping h3{
    padding-bottom: 10px;
}




.team h1{
    font-size: 40px;
    color: #541db9e3;
    font-weight: 700;
    margin-bottom: 40px;
    padding: 0 2%;
}
.teampic{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0% 3%;
}
.teampic p{
    text-align: center;
    color: #6F2EE8;
    padding-top: 30px;
    font-size: 28px;
    font-weight: 500;
}


.download{
    background-color: #8C58EC;
    color: white;
    text-align: center;
    padding: 40px 400px;
    margin-top: 40px;
}
.download h4{
    padding-bottom: 15px;
    font-size: 36px;
}
.download p{
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
}
.store{
    display: flex;
    justify-content: center;
    align-items: center;
}
.store img{
    width: 130px;
    margin-right: 20px;
}





footer{
    display: flex;
    padding: 60px 50px 200px;
    justify-content: space-between;
    align-items: flex-start;
    color: #531CB9;

}
.socials img{
    width: 60px;
    padding-bottom: 10px;
}
footer p{
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    padding: 3px 0;
}
footer h4{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;

}
.socials{
    flex-basis: 22%;
    padding-right: 30px;
}
.website{
    flex-basis: 22%;
}
.sociallogo{
    display: flex;
}
.sociallogo i{
    padding-right: 25px;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.sociallogo .fa-youtube:hover{
    color: #FF0000;
}
.fa-facebook:hover{
    color: #4267B2;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-instagram:hover{
    color: #E1306C;
}
.logo2{
    display: none;
}
.sociallogom{
    display: none;
}









@media (max-width: 830px){
    .logo2{
        display: flex;
        width: 65px;
        padding-left: 10px;
    }
    .logo{
        display: none;
    }
    .landing-page{
        display: flex;
        padding: 3% 5%;
        
    }
    .landing-page .left h1{
        font-size: 35px;
        line-height: 40px;
        padding-right: 20px;
        margin-bottom: 25px;
    }
    .landing-page .right img{
        padding-top: 30px;
        width: 100%;
    }
    .landing-page .left h5, .btn2{
        display: none;
    }
    
    
    .cardsection h1{
        display: none;
    }
    .cards{
        display: flex;
        padding: 0 8%;
    }
    /* .card a{
        display: none;
    } */
    .card{
        margin-top: 25px;
        flex-basis: 48%;
    }
    /* .whyuse{
        display: block;
    } */
    hr{
        display: none;
    }
    .useleft, .useright{
        flex-basis: 48%;
        padding: 0;
    }
    .useleft img{
        width: 100%;
        padding: 0;
    }
    .useright h1{
        font-size: 40px;
        margin-top: 30px;
    }
    .useright .lorem p{
        font-size: 22px;
        line-height: 45px;
        
    }
    .useright .lorem p i{
        font-size: 18px;
        margin-right: 10px;
    }
    .partnerstray{
        display: none;
    }
    .useright h4{
        display: none;
    }
    .blog h1, .shopping h1{
        font-size: 40px;
    }
    .shopping{
        margin-top: 60px;
    }
    .cart{
        flex-basis: 49%;
        
    }
    .blog .cart{
        margin-top: 30px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .teampic{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: centers;
    }
    .team h1{
        text-align: center;
        font-size: 35px;
        margin-top: 30px;
    }
    
    .teampic img{
        width: 150px;
    }
    .mary{
        padding: 10px;
    }
    .teampic p{
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
        padding-top: 10px;
    }
    .download{
        padding: 100px 80px;
        /* margin-top: 40px; */
        width: 100%;
    }
    .download h4{
        font-size: 45px;
    }
    .download p{
        font-size: 22px;
        padding: 20px 5px;
        font-weight: 400;
    }
    
    .socials img{
        width: 48px;
        margin-bottom: 15px;
    }
    
    footer{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 80px;
        
    }
    footer h4{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0 ;
    }
    footer p{
        font-size: 20px;
        font-weight: 500;
        padding: 7px 0;
        line-height: 30px;
    }
    
    header{
        position: relative;
    }
    .nav-links{
        width: 100%;
        height: 90vh;
        top: 50px;
        right: 0;
        position: absolute;
        background-color: white;
        z-index: 3;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        
    }

    .nav-active{
        transform: translateX(0);

    }
    
    header ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        /* opacity: 0; */
        padding: 15px 0;
    }
    header ul{
        padding: 0 30px;
    }
    header ul li a{
        color: #8C58EC;
    }
    header ul li::before{
        display: none;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .active::before, header ul li a::before{
        display: none;
    }
}








@media (max-width: 430px){
    .logo2{
        display: flex;
        width: 65px;
        padding-left: 10px;
    }
    .logo{
        display: none;
    }
    .landing-page{
        display: block;
        padding: 3% 5%;
        
    }
    .landing-page .left h1{
        font-size: 30px;
        line-height: 40px;
        padding-right: 70px;
        margin-bottom: 25px;
    }
    .landing-page .left h5, .btn2{
        display: none;
    }
    .landing-page .right img{
    width: 95%;}
    .landing-page .right{
        padding-top: 60px;
    }
    
    .cardsection h1{
        display: none;
    }
    .cards{
        display: block;
        padding: 0 8%;
    }
    .card a{
        display: none;
    }
    .card{
        margin-top: 25px;
    }
    .whyuse{
        display: block;
    }
    hr{
        display: none;
    }
    .useright h1{
        font-size: 26px;
        margin-top: 30px;
    }
    .useright .lorem p{
        font-size: 18px;
        line-height: 34px;
        
    }
    .useright .lorem p i{
        font-size: 18px;
        margin-right: 10px;
    }
    .partnerstray{
        display: none;
    }
    .useright h4{
        display: none;
    }
    .blog h1, .shopping h1{
        font-size: 30px;
    }
    
    .shopping{
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .cart{
        flex-basis: 100%;
    }
    
    .teampic{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: centers;
    }
    .team h1{
        text-align: center;
        font-size: 28px;
        margin-top: 30px;
    }
    
    .teampic img{
        width: 150px;
    }
    .teampic p{
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 500;
        padding-top: 10px;
    }
    .download{
        padding: 130px 30px;
        /* margin-top: 40px; */
        width: 100%;
    }
    .download h4{
        font-size: 26px;
    }
    .download p{
        font-size: 16px;
        padding: 20px 5px;
        font-weight: 400;
    }
    .store{
        /* width: 160px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .socials img{
        width: 48px;
        margin-bottom: 15px;
    }
    .socials, .website{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px 0;
        text-align: center;

    }
    footer{
        padding: 3px 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer h4{
        font-size: 18px;
        font-weight: 600;
    }
    footer p{
        font-size: 15px;
        font-weight: 500;
    }
    .sociallogom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 40px;
    }
.sociallogom i{
        padding: 0px 25px;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .sociallogo{
        display: none;
    }
    header{
        position: relative;
    }
    .nav-links{
        width: 100%;
        height: 90vh;
        top: 50px;
        right: 0;
        position: absolute;
        background-color: white;
        z-index: 3;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        
    }

    .nav-active{
        transform: translateX(0);

    }
    
    header ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        /* opacity: 0; */
        padding: 15px 0;
    }
    header ul{
        padding: 0 30px;
    }
    header ul li a{
        color: #8C58EC;
    }
    header ul li::before{
        display: none;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .active::before, header ul li a::before{
        display: none;
    }
    





}